body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
    width: 500px; 
}

#tasks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 10px;
    width: 100%;
    max-width: 1200px; 
}

.task-card {
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word; 
    word-break: break-word;
    max-width: 100%; 
}


.task-card button {
    align-self: flex-end;
}

.task-card i {
    align-self: flex-end;
    cursor: pointer;
}
